@import url('https://fonts.googleapis.com/css?family=Baloo 2:400,700');
/* Navigation Bar */
nav {
    background-color: ivory;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-radius: 50px;
    margin-top: 15px;
    
  }
  body{
    /* background-color:transparent; */
    font-family: 'Montserrat', sans-serif;
    color: #fff;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin:auto;
  }
  
  .logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin: 0 10px;
  }
  
  .menu li a {
    color: black;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
  }
  
  .burger {
    display: none;
    cursor: pointer;
  }
  
  .line1,
  .line2,
  .line3 {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
  }
  
  @media (max-width: 768px) {
    .menu {
      display: none;
    }
    .burger {
      display: block;
    }
    nav{
        border-radius: 50px;
        background-color: transparent;
    }
  }
  
  @media (min-width: 769px) {
    .burger {
      display: none;
    }
    nav{
        border-radius: 50px;
        background-color: transparent;
    }   
  }
  
  .active .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .active .line2 {
    opacity: 0;
  }
  
  .active .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  .active .menu {
    display: block;
  }
  
  .menu.active {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    text-align: center;
  }
  
  .menu.active ul {
    flex-direction: column;
    align-items: center;
  }
  
  .menu.active li {
    margin: 20px 0;
  }
  
  .menu.active li a {
    font-size: 24px;
  }


/* Image Section */
.image-section
{
    margin-top: 5px;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.intro {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1rem;
}
.intro-slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: width: 100vw; */
  height: 100%; /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: height: 100vh; */ 
  object-fit: cover;
  z-index:-1;
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
}

.intro .intro-header {
  border-radius: 0.5rem;
  padding: 2rem 2.5rem;
  background-color: rgba(0,0,0,0.5);
}
.intro h1 {
  font-size: 4rem;
  margin-bottom: 0.75rem;
}
.intro p {
  font-size: 1.75rem;
}

@media (max-width: 700px) {
  html { font-size: 12px; }
  .intro-header { padding: 1.5rem 2rem; }
  .intro h1 { font-size: 2.5rem; }
  .intro p { font-size: 1.25rem; }
}
/* 3rd Parrt */

/* left section */
.left-section{
  height: 300px;
  width: 600px;
  padding: 0 20px;
}
.content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 90px;
}

/* Right Section */
.mid-section{
  background-color: rgba(0,0,0,0.5);
  height: 1000px;
}
.text h3{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.text p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text button
{
    color: Aqua;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    background:transparent;
    letter-spacing: 4px;
    border: 1px solid #42175e;
    padding: 13px 30px;
    border-radius: 20px;
    font-family: 'Oswald';
    cursor: pointer;
    font-weight: bolder;
    margin-left: 130px;
}
.text button:hover{
    background:#3c20c5;
    color: rgb(196, 198, 235);
    border-radius: 5px;
    box-shadow: 0 0 5px #514491,
    0 0 25px #8F7CEC,
    0 0 50px #8F7CEC,
    0 0 100px #8F7CEC;
    cursor: pointer;
}
@media screen and (max-width: 700px) {
  .content{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  .left-section{
    width:80%;
  }
  form{
    width:60%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  fieldset{
    width: 60%;
  }
  .content{
    height: 900px;
  }
  .text button{
    margin-bottom: 10px;
    margin-left:80px;
  }
  .text{
    background-image: url('left-section-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
  }
  #form_submit_btn{
    margin-left:80px;
    padding: 10px 60px;
  }
}


* {
  box-sizing: border-box;
}

form {
  max-width: 900px;
  width: 600px;
}

label{
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="file"] {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button[type="button"] {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #006699;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button[type="button"]:hover {
  background-color: #004466;
}

input[type="submit"] {
  display: inline-block;
  padding: 10px 20px;
  background-color: #006699;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #004466;
}

fieldset{
border-radius: 10px;
border: 3px solid black;
padding: 10px;
}